* {
  margin: 0;
  padding: 0;
}

body {
  width: 500px;
  font-size: 13px;
  line-height: 1.9;
  text-shadow: 0 1px 0 white;
}

.main {
  position: relative;
  padding: 10px 10px 6px;
  border-radius: 5px;
  background: #fafafa;
}

.message {
}

#icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 3px;
}

#title {
  margin-left: 5px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
}

#next-button {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  font-size: 13px;
}

.button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  font: 11px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -ms-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  -moz-background-clip: padding; /* for Firefox 3.6 */
  background-clip: padding-box;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

.button:hover,
.button:focus,
.button:active,
.button.active {
  border-color: #3072b3;
  border-bottom-color: #2a65a0;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  color: #fff;
  background-color: #3c8dde;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}

.button:active,
.button.active {
  border-color: #2a65a0;
  border-bottom-color: #3884cd;
  background-color: #3072b3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
  background-image: -moz-linear-gradient(#3072b3, #599bdc);
  background-image: -ms-linear-gradient(#3072b3, #599bdc);
  background-image: -o-linear-gradient(#3072b3, #599bdc);
  background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button.disable {
  opacity: 0.5;
}
